div {
    background-color: red;
    width: 150px;
    height: 150px;
    margin: 15px;
    margin-left: 60px;
    color: snow;
}

.carre1 {
    padding-left: 10px;
    padding-top: 40px;

}
.carre2 {
    margin-left: 250px;
    background-color: seagreen;
    margin-bottom: 150px;

}